.zoom-in-anim {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  animation-name: zoom-effect;
  animation-duration: 18s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes zoom-effect {
  0% {
    transform: scale(1);
  }

  90% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.swiper-container:not(.swiper-container-horizontal) .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
