.zoom-in-anim {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  animation-name: zoom-effect;
  animation-duration: 18s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes zoom-effect {
  0% {
    transform: scale(1);
  }

  90% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.swiper-container:not(.swiper-container-horizontal) .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item {
  height: calc(100vh - 56px); /* 56px is the height of the navbar */
  min-height: 350px;
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.zoom {
  transition: transform 0.2s;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* .zoom:hover {
  transform: scale(1.1);
} */

@media (max-width: 767px) {
  .carousel-item {
    height: calc(90vh - 56px); /* 56px is the height of the navbar */
  }
}