@media (max-width: 576px) {
  .scuba-logo {
    height: 10vh !important;
    /* margin-right: 50vw; */
  }

  .scuba-div {
    margin-right: 70vw;
  }

  .phone-logo {
    border: none !important;
  }
}
