.float-w {
  position: fixed !important;
  width: 60px !important;
  height: 60px !important;
  bottom: 40px !important;
  right: 10px !important;
  background-color: #25d366 !important;
  color: #fff !important;
  border-radius: 50px !important;
  text-align: center !important;
  font-size: 30px !important;
  box-shadow: 2px 2px 3px #999 !important;
  z-index: 100 !important;
}

.float-w:hover .my-float-w {
  color: #008bfd !important;
}

.my-float-w {
  margin-top: 16px !important;
}
