/* google fonts start */
@import url("https://fonts.googleapis.com/css2?family=Marhey:wght@300&family=Poppins:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css?family=Mukta+Mahee:400,500,600,700");
/* google fonts end */

/* video bg start */
header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: -1.5;
  z-index: 1;
}

/* video bg end */

/* our usp para start */
@media (max-width: 600px) {
  .a1 {
    width: 90vw !important;
    text-align: unset !important;
    font-size: 14px !important;
  }
}
/* our usp para end */

/* parallax bg 1 start */
.parallax-bg {
  width: 100%;
  height: 100%;
  background-image: url("../../../img/andaman_neil_island.webp");
  background-size: cover;
  /* background-position: center; */
  background-attachment: fixed;
  z-index: -1;
}
/* parallax bg 1 end */

/* parallax bg 2 start */
.parallax-bg2 {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../../../img/dudhsagar-falls-goa5.webp.webp");
  background-size: cover;
  /* background-position: center; */
  background-attachment: fixed;
  z-index: -1;
}
/* parallax bg 2 end */

/* features start */
.bg-light {
  position: relative;
  overflow: hidden;
  background: #65c0ba !important;
}

.bg-light:before {
  content: "";
  position: absolute;
  top: 0;
  height: 400px;
  width: 150%;
  left: 50%;
  background: #fff;
  -webkit-transform: rotate(-4deg) translateX(-50%) translateY(-100%);
  -ms-transform: rotate(-4deg) translateX(-50%) translateY(-100%);
  transform: rotate(-4deg) translateX(-50%) translateY(-100%);
}

.bg-light.no-slant:before {
  display: none;
}

.bg-light-2 {
  background: #fafafa;
  border-top: 1px solid #e0e0e0;
}

.heading-serif,
.testimonial-section .heading,
.slider-section .heading,
.blog-post-entry .heading {
  font-size: 70px;
  font-family: "Abril Fatface", times, serif;
  line-height: 1;
  margin-bottom: 30px;
}

@media (max-width: 991.98px) {
  .heading-serif,
  .testimonial-section .heading,
  .slider-section .heading,
  .blog-post-entry .heading {
    font-size: 40px;
  }
}

@media (max-width: 991.98px) {
  .lead {
    font-size: 16px;
  }
}

.ftco-img-flaticon {
  text-align: center;
}

.ftco-img-flaticon img {
  width: 70px;
}

.d-block {
  font-size: 14px;
  letter-spacing: 0.2em;
  font-family: "Mukta Mahee", arial, sans-serif;
  text-transform: uppercase;
  color: #65c0ba;
  font-weight: bold;
}
/* features end */

@media (max-width: 550px) {
  .click-image {
    height: auto;
  }

  .tour-video {
    height: 80vh !important;
  }
}

@media (max-width: 600px) {
  .hero-section {
    height: 40vh !important;
  }
}
